<h3 class="headers">Register a new app:</h3>

<%= form_for [@registered_app] do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :url %>:
  <%= f.text_field :url %><br />

  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back', root_path %>
