<h2>Register a new app:</h2>

<%= form_for [@user, @registered_app] do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :url %>:
  <%= f.text_field :url %><br />

  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back', root_path %>
