<h1> Show Page </h1>

<div class="row">
	<div class="col-md-8">
  	<h4>URL: <%= link_to @registered_app.url, "http://#{@registered_app.url}" %></h4>
		<p>Added by <%= @registered_app.user.email %></p>

		<% @events.group_by(&:name).each do |name, events| %>
 			<%= name %> | <%= events.count %>
 		<% end %>

		<%= pie_chart @registered_app.events.group(:name).count %>
    <%= line_chart @registered_app.events.group_by_day(:created_at).count %>
	</div>
</div>
