<h2> <%= @registered_app.name %> </h2>
<h5>URL: <%= link_to @registered_app.url, "http://#{@registered_app.url}", target: "_blank" %></h5>
<p>Added by <%= @registered_app.user.email %></p>

<div class="row">
	<div class="col-md-8">

		<% @events.each do |event, count| %>
 			<%= "#{event}" %>
 		<% end %>

		<%= pie_chart @registered_app.events.group(:name).count %>
    <%= line_chart @registered_app.events.group_by_day(:created_at).count %>
	</div>
</div>
