<h2> <%= @registered_app.name %> </h2>
<h5>URL: <%= link_to @registered_app.url, "http://#{@registered_app.url}", target: "_blank" %></h5>
<p>Added by <%= @registered_app.user.username %></p>

<div class="row">
	<div class="col-md-8">

		<% @events.group_by(&:name).each do |name, events| %>
 			 <%= name %> | <%= events.count %>
 		<% end %>

 		<p><%= @events.count %> events exist for this app</p>

		<%= pie_chart @registered_app.events.group(:name).count %>
    <%= line_chart @registered_app.events.group_by_day(:created_at).count %>
	</div>
</div>
