<!DOCTYPE html>
<html>
<head>
  <title>tedmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <%= link_to "tedmetrics", root_path, class: "logo" %>
      <ul class="right">
        <% if user_signed_in? %>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="material-icons left">person</i>
                <% end %>
            </li>
        <% end %>
        <li><%= link_to root_path do %>
            <i class="material-icons left">view_headline</i>
            <% end %>
        </li>
        <li><%= link_to new_contact_path do %>
            <i class="material-icons left">mail_outline</i>
            <% end %>
        </li>
        <li><%= link_to welcome_info_path do %>
            <i class="material-icons left">details</i>
            <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
